.close-button {
  width: 1.75em;
  height: 1.75em;
  border-radius: 25%;
  border: 1px solid rgba(223, 223, 223, 0.5);
  background-color: rgba(223, 223, 223, 0);
  transition: 175ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0.35em 0px rgba(145, 145, 145, 0);
}

.close-button:hover {
  box-shadow: 0px 0px 0.35em 0px rgba(255, 0, 0, 0.85);
  border-color: rgba(255, 0, 0, 0.85);

  span {
    background-color: rgba(255, 0, 0, 0.5);
  }
}

.close-sign-cross {
  width: 85%;
  height: 85%;
}

.close-sign-cross span {
  display: block;
  height: 0.6em;
  width: 1.6em;
  background-color: rgba(145, 145, 145, 0.5);
  border-radius: 50%;
  transition: 175ms ease-in-out;
}

.close-sign-cross-left {
  transform: rotate(-45deg);
  transform-origin: center;
  margin-top: 0.5em;
}

.close-sign-cross-right {
  transform: rotate(45deg);
  transform-origin: center;
  margin-top: -0.6em;
}
